{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <p>We create a course table with two columns for name and whether it is a full time or not.
            After we create the column name we then have to define the datatype of the column varchar
            defines that all data stored in the column is will be a String.
            Boolean data type states all the data stored will be a boolean either True or False.</p>
    </div>
</div>
{% endblock %}